//
// Fonts
//

$headline-font: 'Source Sans Pro', sans-serif
$basic-font: 'Source Sans Pro', sans-serif

//
// Dimensions
//

$content-max-width: 100%
$universal-padding: 34px

//
// Break Points
//

$tablet-breakpoint: 960px


//
// Default's rendered to the stylesheets and
// used as fallback if the browser does not
// support CSS variables (IE 11, Opera mini, ...)
//
// TFS Portal Settings Defaults
//

$base-color: #112241
// TODO: remove $base-color-light
$base-color-light: #153163
$highlight-color: #153163
$window-bg: #FFFFFF
$font-color: #434241
$icon-fill: #646464
$line-border-color: #949392
$panel-bg: #E5E5E5



