//
// Default's rendered to the stylesheets and
// used as fallback if the browser does not
// support CSS variables (IE 11, Opera mini, ...)
//

//
// text and font
//

$headline-font: 'Source Sans Pro', sans-serif
$basic-font: 'Source Sans Pro', sans-serif

//
// dimensions
//

$content-max-width: 100%
$universal-padding: 34px

//
// base-color - green
//

$base-color: #112241
$base-color-light: #153163
$base-color-dark: #0B172E


