@import "../mixins"

//
// Top bar
//

//
// Logo
//

#top-bar-container
	@include unselectable

	width: 100%
	position: relative
	z-index: 6
	background-color: $base-color
	background-color: var(--base-color)

#top-bar-menu-container
	max-width: $content-max-width
	margin: 0 auto

	a
		&:focus
			outline: 0

	#logo-wrapper
		display: block
		float: left
		background-color: $base-color
		background-color: var(--base-color)
		width: 220px
		padding: 8px 0px
		cursor: pointer
		img
			max-height: 30px
			height: auto
			max-width: 162px
			margin: 0 auto

		&:hover
			transition: 0.2s
			background-color: $base-color-light
			background-color: var(--highlight-color)
		&:active
			img
				transform: scale(0.95)

//
// Search form
//

// input type="checkbox" workaround
input[type=checkbox]#search-box-toggle
	display: none

	&:checked + #searchform .search-field-wrapper #search-field
		background: white

	&:checked + #searchform #show-search-toggle
		display: none

	&:checked + #searchform #searchsubmit
		border: 1px solid rgba(255,255,255,0.85)
		border-top-right-radius: 3px
		border-bottom-right-radius: 3px
		margin: 8px 0px
		line-height: 28px
		padding: 0 10px
		// reset for mobile minimized button
		font-size: 14px
		padding: 0 15px 0 14px

		&:before
			height: 28px

#searchform
	float: left
	padding-left: 34px
	position: relative

	.search-field-wrapper
		position: relative
		float: left
		overflow: hidden

		#search-field
			max-width: 250px
			width: 250px
			padding: 0 8px
			border: 0
			border-top-left-radius: 3px
			border-bottom-left-radius: 3px
			margin: 8px 0
			line-height: 30px
			background-color: rgba(0,0,0,0.2)

			font-size: 14px
			color: #222

			&:hover, &:active
				background-color: white

			&:focus
				background-color: white

		#hide-search-toggle
			position: absolute
			top: 10px
			right: 0px
			padding: 5px 4px 0px
			width: 20px
			cursor: pointer
			line-height: 19px

	#show-search-toggle
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		z-index: 2
		cursor: pointer

		&:hover + #searchsubmit
			background-color: $base-color-light
			background-color: var(--highlight-color)

	#searchsubmit
		float: left
		cursor: pointer
		position: relative
		padding: 0px 15px
		background-color: $base-color
		background-color: var(--base-color)
		transition: background-color 0.15s

		color: white
		font-size: 14px
		line-height: 46px

		&:hover
			background-color: $base-color-light
			background-color: var(--highlight-color)

			&:after
				transform: scale(1,1)
				background-color: white

		&:active
			background: $base-color-light
			background-color: var(--highlight-color)

		&:before
			content: ""
			display: block
			float: left
			width: 20px
			height: 46px
			margin-right: 4px
			background: url('/images/magnifier-icon.svg') no-repeat
				size: 18px 18px
				repeat: no-repeat
				position: 50% 50%

//
// Menu listing
//

#menu-top-bar-list-container
	float: left
	display: flex
	overflow-y: hidden
	flex-grow: 100
	justify-content: flex-end

	ul
		display: flex
		flex-wrap: nowrap

		margin: 0px
		padding: 0px
		list-style: none

		li
			@include unselectable

			overflow: hidden
			position: relative
			display: block
			float: left
			flex-shrink: 0
			
			> a
				background: $base-color
				background: var(--base-color)
				display: block
				padding: 0px 15px
				color: white
				font-size: 14px
				line-height: 46px

				&:hover
					&:after
						transform: scale(1,1)
						background-color: white

				&:active
					background: $base-color-light
					background-color: var(--highlight-color)

				&:after
					content: ""
					display: block
					position: absolute
					z-index: 3
					width: calc(100% - 30px)
					height: 3px
					bottom: 7px
					background-color: transparent
					transition: transform 0.15s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0.15s cubic-bezier(0.215, 0.61, 0.355, 1)
					transform: scale(0,1)

//
// Mobile navigation toggle, hamburger menu
//

// input type="checkbox" workaround
input#toggle-menu-checkbox
	display: none

.icon-hamburger-menu
	display: none
	float: left
	box-sizing: border-box
	padding: 10px 12px
	overflow: hidden
	cursor: pointer

	&:hover, &:active
		background: $base-color-light

	&:after
		content: ""
		display: block
		clear: both

	.menu-icon-container
		float: left
		padding: 2px 0px
		height: 26px
		width: 20px

	.line
		height: 2px
		width: 100%
		background: white
		margin: 5px 0px
		transition: 0.3s
		transform-origin: left center

	span
		float: left
		display: block
		padding-left: 10px
		color: white
		font-size: 14px
		font-weight: 600
		line-height: 30px


@import "menu-top-bar-responsive"