//
// Header
//

header
	position: relative
	z-index: 6

	//border-bottom: 2px solid var(--panel-bg)
	background-color: var(--window-bg)

	#top-bar-wrapper
		display: flex
		justify-content: space-between
		max-width: $content-max-width
		padding: 0 3rem
		margin: 0 auto

		nav
			display: flex
			flex-grow: 0
			padding-left: 1rem


//
// Mobile Navigation Button
//

#mobile-navigation-button
	display: none

@import 'hamburger-menu-button'

//
// Site Identity
//

@import 'site-identity'

//
// Search
//

@import 'search'

//
// Quick Links Navigation
//

@import 'quick-links-navigation'

//
// User Navigation
//

@import "user-navigation"


// TODO: REMOVE

@media screen and(max-width: $tablet-breakpoint)
	header
		#top-bar-wrapper
			padding: 0 1rem
			nav
				padding-left: 0
