//
// Search
//

#searchform
	padding-left: 0.625rem
	position: relative

	img
		position: absolute
		z-index: 2
		top: 1.25rem
		right: 0.625rem
		width: 1.125rem
		height: 1.125rem
		pointer-events: none

	#search-field
		width: 85px
		padding: 0 2.25rem 0 0.75rem
		margin: 0.75rem 0
		border-radius: 3px
		transition: max-width 0.2s, width 0.2s
		background: var(--panel-bg)

		border: 0

		font-size: 0.875rem
		color: #444
		line-height: 2.25rem

		&:focus
			max-width: 200px
			width: 200px

			z-index: 2
			box-shadow: 0 0 0 2px var(--highlight-color)

		//
		// Magnifier icon
		//

		&:after
			content: ""
			display: block
			position: absolute
			width: 30px
			height: 30px
			background: red
			top: 0
			right: 0

	#show-search-toggle
		display: none

@media screen and (max-width: 580px)
	#searchform
		padding-left: 0

		#search-field
			width: 0rem
			padding: 0 2.25rem 0 0
			background: var(--window-bg)
			cursor: pointer
			transition: width 0s

			&:focus
				position: fixed
				right: 1rem
				padding: 0 2.25rem 0 0.75rem
				box-sizing: border-box
				width: calc(100% - 2rem)
				max-width: none
				cursor: default
				transition: width 0.2s
