#logo-wrapper
	display: block
	padding: 10px 15px
	cursor: pointer

	img
		@include unselectable
		display: block

	&:active
		background-color: $window-bg
		background-color: var(--window-bg)

	&:focus
		outline: 0
		box-shadow: inset 0 0 0 2px $highlight-color
		box-shadow: inset 0 0 0 2px var(--highlight-color)